
.Features{
    .iconBig{
        font-size: 80%;
        margin-right: 0.5rem;
        vertical-align: baseline;
        color: #666;

    }

    .LongCopy{
        font-size: 1.3rem;
        width: 70%;
    }
}

