
.Features{
    .iconBig{
        font-size: 80%;
        margin-right: 0.5rem;
        vertical-align: baseline;
        color: #666;

    }

    .LongCopy{
        font-size: 1.3rem;
        width: 70%;
    }

    p{
        text-align: center;
        margin-bottom: 3rem;
        line-height: 145% !important;
    }
}

