.sectionPlans{
    background-color: #fff;


    .planBox{
        background-color: #ffedea;
        border-radius: 5px;
        width: 90%;
        border: 1px solid #e74c3c;
        
        div{
            padding: 1rem 0;
            border-bottom: 1px solid #dd7165;
        }

        a{
            text-decoration: none;
        }

        div:last-child {
            text-align: center;
            border: 0;
        }

        ul {
            list-style: none;
            padding-left: 1rem;

            li {
                padding: 0.1rem 0;
                font-size: 1.2rem;

                svg{
                    margin-right: .5rem;
                }
            }
        }
    
        
    }

    .planPrice {
        font-size: 350%;
        margin-bottom: 0;
        font-weight: 100;
        color: #e67e22;
    
        span {
            font-size: 50%;
            font-weight: 300;
        }

    }
    
    .planPriceMeal {
        margin-bottom: 0;
    }
}