

.defaultLink{
    cursor: default;
    
    &:hover{
        text-decoration: none;
    }
}

.headerStyle {
    width: 100%;
    height: 25rem;
    background-image: url(../../assets/css/background2-transparent.png);
    background-position: bottom;
    background-size: cover;
    color: white;
}