@import '../../../scss/colors.scss';

.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    display: inline-flex;
    

    
}

.Disabled{
    color: gray ; 
    cursor: not-allowed  ;
}

.Button:first-of-type {
    margin-left: 0;
}

.Success {
    color: #5C9210;
    border: 2px solid #5C9210;
    
    
}

.Danger {
    color: #944317;
    border: 2px solid #944317;
}

.Login{
    color: white;
    background: linear-gradient(90deg, $primaryColorLight 33%, $accentColor 100%);
    width: 100%;
    border-radius: .5rem;
    padding: 0.8rem;
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
    display: block;

    
}

.HeaderSection{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 300;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: $secondaryColor;
    color: #ddd;
    transition: background-color 0.2s, color 0.2s;
    font-size: 1.2rem;

    &:hover{
        background-color: $secondaryColorLight;
        color: #fff;
        transition: background-color 0.3s, color 0.3s;
    }
}